# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Added
*.xlsx
*.csv
*.pdf
*.png
*.rda
*.rds
CellTypeFET-main/
MAGMA.SPA-main/
Figures/
Data/
R Data/
WGCNA Output/